{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/fishbanner.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="contact-area section-padding-100-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Contact Content -->
        <div class="col-12 col-lg-5">
          <div class="contact-content mb-100">
            <!-- Section Heading -->
            
            <div class="section-heading">
              <h5>Add Company</h5>
              
              <img src="{% static 'img/core-img/decor.png' %}" alt="">
            </div>
            <!-- Contact Form Area -->
            <div class="contact-form-area">
              <form action="{% url 'stats' %}" method="post">
                {% csrf_token %}
                <div class="row">
                 
                  <div class="col-lg-8">
                    <input type="text" class="form-control" name="Com_Name"  placeholder="Company Name" required>
                  </div>
                  
                  <div class="col-12">
                    <button type="submit" class="btn famie-btn">Add Company</button>
                  </div>
                </div>
              </form>
            </div>
          
          </div>
        </div>
 <div class="col-12 col-lg-7">
          <div class="contact-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h5>Companies List</h5>
              
              <img src="{% static 'img/core-img/decor.png' %}" alt="">
            </div>
            <!-- Contact Form Area -->
           <table id="dtMaterialDesignExample" class="table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">SNo
      </th>
      <th class="th-sm">Company Name
      </th>
      
            
    </tr>
  </thead>
  <tbody>
  	{% for i in companydata %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.Com_Name }}</td>
      
      
    </tr>
    {% endfor %}
  </tbody>
 
		</table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}